In [8]:
%%bash
autfilt --version
genltl --version
randltl --version
ltlfilt --version
ltl2tgba --version

echo
echo OWL:
owl --version

autfilt (spot) 2.8.3

Copyright (C) 2019  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
genltl (spot) 2.8.3

Copyright (C) 2019  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
randltl (spot) 2.8.3

Copyright (C) 2019  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
ltlfilt (spot) 2.8.3

Copyright (C) 2019  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
ltl2tgba (spot) 2.8.3

Copyright (C) 2019  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

OWL:
Name: defaultcli (owl)
Version: 19.06.03

In [14]:
%run Run_comparison_nondet.ipynb

### Comparison of tools producing cut-deterministic automata
All tools finished within the one-minute time limit.

- **e:** `cut-on-scc-entry` cut transition also for all transitions that go from SCC S to S' where S' is accepting, see [Cut-on-SCC-entry section of Cut-edges notebook](options_notebooks/Cut-edges.ipynb#Cut-on-SCC-entry)
- **s:** `simplify input`
- **w:** `powerset-for-weak` do not run breakpoint construction on SCCs that are inherently weak, use powerset instead
- **p:** `powerset-on-cut` when creating cut transition, run breakpoint/powerset construction already on the cut-transition, see [Section powerset-on-cut of Cut-edges notebook](options_notebooks/Cut-edges.ipynb#powerset-on-cut)
- **l:** `level-skipping` try to reach breakpoint for as many levels as possible, for an example see the [Level skipping notebook](options_notebooks/LevelSkipping.ipynb)
- **a:** `avoid-det-tails` avoid determinsitic tails in the 1st component. An SCC is a deterministic tail if and only if it is deterministic and no non-deterministic state is reachable from it. See the [Deterministic tails notebook](options_notebooks/bSCC.ipynb)
- **r:** `reuse-det-tails` avoid determinsitic tails in the 1st component and reuse them as they are (no breakpoint, TGBA acceptance). See more details [here](options_notebooks/bSCC.ipynb#Reusing-the-semi-deterministic-components-with-TGBA-acceptance).

#### Without simplifications

,,"Sem 1,2",e,es,esa,esl,esp,esr,esw,eswa,eswal,eswpa,eswpal,eswpr,eswprl,eswr,eswrl,ltl2ldba
origin,type,,,,,,,,,,,,,,,,,
random,nd,1995,1942,1898,1040,1863,1865,1040,1894,1040,1013,1006,982,1003,979,1037,1010,1077
literature,nd,603,602,598,487,594,567,486,597,487,483,456,452,455,452,486,483,440

#### With simplifications

,,"Sem 1,2",e,es,esa,esl,esp,esr,esw,eswa,eswal,eswpa,eswpal,eswpr,eswprl,eswr,eswrl,ltl2ldba
origin,type,,,,,,,,,,,,,,,,,
random,nd,1062,936,939,788,907,934,782,939,788,757,788,770,784,766,782,753,806
literature,nd,375,369,369,359,365,335,359,369,359,355,325,325,325,325,359,355,371

### Comparison of tools producing semi-deterministic automata
All tools finished within the one-minute time limit.

#### Without simplifications

,,"Sem 1,2",e,es,esa,esl,esp,esr,esw,eswa,eswal,eswpa,eswpal,eswpr,eswprl,eswr,eswrl,ltl2ldba
origin,type,,,,,,,,,,,,,,,,,
random,nd,1178,1122,1049,916,1025,1020,916,1047,916,895,888,864,885,861,913,892,1077
literature,nd,431,428,424,404,420,393,403,423,404,400,373,369,372,369,403,400,440

#### With simplifications

,,"Sem 1,2",e,es,esa,esl,esp,esr,esw,eswa,eswal,eswpa,eswpal,eswpr,eswprl,eswr,eswrl,ltl2ldba
origin,type,,,,,,,,,,,,,,,,,
random,nd,789,735,735,729,704,724,724,735,729,699,718,701,714,696,724,695,792
literature,nd,328,309,309,303,306,290,303,309,303,300,285,282,285,282,303,300,367

## Effect of optimizations on cut-det automata after simplifications

- effect of `w` eliminated completely by simplifications,
- `avoid` and `reuse` have significant effect

                 Sem 1,2    e   es  esw  esl  esa  eswa  eswr
origin     type
random     nd       1062  936  939  939  907  788   788   782
literature nd        375  369  369  369  365  359   359   359

### Effect of `powerset-on-cut`

                 eswa  eswpa  eswr  eswpr
origin     type
random     nd     788    788   782    784
literature nd     359    325   359    325

### Effect of `level-skipping`

                 eswpa  eswpal  eswpr  eswprl
origin     type
random     nd      788     770    784     766
literature nd      325     325    325     325

### Comparison of suggested default configurations with other tools

                 Sem 1,2  eswrl  eswprl  ltl2ldba
origin     type
random     nd       1062    753     766       806
literature nd        375    355     325       371